<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-lg offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu">

    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">
        Puntapie
      </h5>

      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"></button>
    </div>

    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%#= link_to expenditures_path, class: "nav-link d-flex align-items-center gap-2 active" do %>
            <%# <i class="fas fa-dollar-sign"></i> &nbsp;Gastos %>
          <%# end %>
        </li>
      </ul>

      <hr class="my-3">

      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path,
              data: { turbo_method: :delete },
              class: "nav-link d-flex align-items-center gap-2" do %>
              <i class="fas fa-sign-out-alt"></i> Cerrar sesión
            <% end %>
          <% else %>
            <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link d-flex align-items-center gap-2" %>
          <% end %>
        </li>
      </ul>

    </div>
  </div>
</div>
